.unity-base-field__label {
    width: 240px;
}

.label-indent-1 > .unity-base-field__label {
    padding-left: 12px;
}

.label-indent-2 > .unity-base-field__label {
    padding-left: 24px;
}

.label-indent-1 > .zax-expression__input > .unity-base-field__label {
    padding-left: 12px;
}

.zax-expression__status {
    padding-left: 244px;
    white-space: normal;
}

.zax-expression__status--error {
    color: var(--unity-colors-error-text);
}

.zax-expression__variables {
    padding-left: 244px;
    white-space: normal;
    opacity: 0.6;
}
